@tailwind base;
@tailwind components;
@tailwind utilities;

.bos :first-child {
  min-height: unset !important;
  white-space: normal !important;
}

.bos * {
  min-height: unset !important;
  white-space: normal !important;
}
